In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('salaries.csv')

In [6]:
df1.head(10) ## First 5 records by default

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [7]:
df1['EmployeeName'] ## select employeename from df

0                 NATHANIEL FORD
1                   GARY JIMENEZ
2                 ALBERT PARDINI
3              CHRISTOPHER CHONG
4                PATRICK GARDNER
5                 DAVID SULLIVAN
6                      ALSON LEE
7                  DAVID KUSHNER
8                 MICHAEL MORRIS
9             JOANNE HAYES-WHITE
10                 ARTHUR KENNEY
11              PATRICIA JACKSON
12             EDWARD HARRINGTON
13                   JOHN MARTIN
14                DAVID FRANKLIN
15               RICHARD CORRIEA
16                      AMY HART
17                SEBASTIAN WONG
18                    MARTY ROSS
19                 ELLEN MOFFATT
20                    VENUS AZAR
21                  JUDY MELINEK
22                 GEORGE GARCIA
23                 VICTOR WYRSCH
24               JOSEPH DRISCOLL
25                  GREGORY SUHR
26                   JOHN HANLEY
27                RAYMOND GUZMAN
28                DENISE SCHMITT
29                 MONICA FIELDS
                   ...
148624        Lorraine Rosenthal
148625           Renato C Gurion
148626             Paulet Gaines
148627          Brett A Lundberg
148628            Mark W Mcclure
148629         Elizabeth Iniguez
148630              Randy J Keys
148631           Andre M Johnson
148632    Sharon D Owens-Webster
148633          Edward Ferdinand
148634            David M Turner
148635       James S Kibblewhite
148636             Andrew J Enzi
148637          Kadeshra D Green
148638      Lennard B Hutchinson
148639         Richard A Talbert
148640        Charlene D Mccully
148641     Raphael Marquis Goins
148642         Dominic C Marquez
148643                Kim Brewer
148644              Randy D Winn
148645          Carolyn A Wilson
148646              Not provided
148647            Joann Anderson
148648               Leon Walker
148649             Roy I Tillery
148650              Not provided
148651              Not provided
148652              Not provided
148653                 Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

In [8]:
df1['TotalPay'].head(2)

0    567595.43
1    538909.28
Name: TotalPay, dtype: float64

In [11]:
df[['EmployeeName','TotalPay','JobTitle']].head(10) 
## select employeename,totalpay,jobtitle from df and then fetch (first 10 records)

,EmployeeName,TotalPay,JobTitle
0,NATHANIEL FORD,567595.43,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1,GARY JIMENEZ,538909.28,CAPTAIN III (POLICE DEPARTMENT)
2,ALBERT PARDINI,335279.91,CAPTAIN III (POLICE DEPARTMENT)
3,CHRISTOPHER CHONG,332343.61,WIRE ROPE CABLE MAINTENANCE MECHANIC
4,PATRICK GARDNER,326373.19,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)"
5,DAVID SULLIVAN,316285.74,ASSISTANT DEPUTY CHIEF II
6,ALSON LEE,315981.05,"BATTALION CHIEF, (FIRE DEPARTMENT)"
7,DAVID KUSHNER,307899.46,DEPUTY DIRECTOR OF INVESTMENTS
8,MICHAEL MORRIS,303427.55,"BATTALION CHIEF, (FIRE DEPARTMENT)"
9,JOANNE HAYES-WHITE,302377.73,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)"

In [12]:
df['OtherPay'].head(10)

0    400184.25
1    137811.38
2     16452.60
3    198306.90
4    182234.59
5    189082.74
6    134426.14
7     51322.50
8     40132.23
9     17115.73
Name: OtherPay, dtype: float64

In [13]:
df['OtherPay'].mean()

3648.7672968046095

In [14]:
df['OtherPay'] > 39955.25

0          True
1          True
2         False
3          True
4          True
5          True
6          True
7          True
8          True
9         False
10        False
11         True
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26         True
27        False
28        False
29        False
          ...
148624    False
148625    False
148626    False
148627    False
148628    False
148629    False
148630    False
148631    False
148632    False
148633    False
148634    False
148635    False
148636    False
148637    False
148638    False
148639    False
148640    False
148641    False
148642    False
148643    False
148644    False
148645    False
148646    False
148647    False
148648    False
148649    False
148650    False
148651    False
148652    False
148653    False
Name: OtherPay, Length: 148654, dtype: bool

In [16]:
OtherPay_filter = df['OtherPay'] < 40000
df[OtherPay_filter]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
30,31,HARLAN KELLY-JR,EXECUTIVE CONTRACT EMPLOYEE,234325.02,0.00,25972.64,NaN,260297.66,260297.66,2011,NaN,San Francisco,NaN
31,32,DAVID SHINN,DEPUTY CHIEF III (POLICE DEPARTMENT),254027.63,0.00,5899.48,NaN,259927.11,259927.11,2011,NaN,San Francisco,NaN
32,33,GARY AMELIO,DEPARTMENT HEAD V,248895.70,0.00,10789.18,NaN,259684.88,259684.88,2011,NaN,San Francisco,NaN
34,35,JOSE VELO,"BATTALION CHIEF, (FIRE DEPARTMENT)",177781.25,59924.97,20658.00,NaN,258364.22,258364.22,2011,NaN,San Francisco,NaN
35,36,KHOA TRINH,ELECTRONIC MAINTENANCE TECHNICIAN,101953.20,139102.95,16483.94,NaN,257540.09,257540.09,2011,NaN,San Francisco,NaN
36,37,SUSAN CURRIN,"ADMINISTRATOR, SFGH MEDICAL CENTER",245124.44,0.00,12000.00,NaN,257124.44,257124.44,2011,NaN,San Francisco,NaN
39,40,BRENDAN WARD,"BATTALION CHIEF, (FIRE DEPARTMENT)",147158.85,64985.85,39540.46,NaN,251685.16,251685.16,2011,NaN,San Francisco,NaN
40,41,MICHAEL THOMPSON,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.66,60847.56,21055.17,NaN,250595.39,250595.39,2011,NaN,San Francisco,NaN
41,42,THOMAS ABBOTT,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,59760.90,21954.96,NaN,250408.49,250408.49,2011,NaN,San Francisco,NaN
42,43,THOMAS SIRAGUSA,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",218930.76,4078.00,27330.59,NaN,250339.35,250339.35,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148620,148621,India C Sabater,Recreation Leader,15.50,0.00,0.00,0.16,15.50,15.66,2014,NaN,San Francisco,NaN
148621,148622,Kenneth Mackey,Transit Operator,0.00,0.00,15.35,0.00,15.35,15.35,2014,NaN,San Francisco,NaN
148622,148623,Jacqueline Hubbard,Senior Clerk,0.00,0.00,13.77,0.00,13.77,13.77,2014,NaN,San Francisco,NaN
148623,148624,Deborah B Honig,Attorney (Civil/Criminal),0.00,0.00,13.35,0.13,13.35,13.48,2014,NaN,San Francisco,NaN
148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,NaN
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,NaN
148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [17]:
df[df['OtherPay'] > 39955.25]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
33,34,JOHN TURSI,"INSPECTOR III, (POLICE DEPARTMENT)",104861.39,50227.61,103499.39,NaN,258588.39,258588.39,2011,NaN,San Francisco,NaN
37,38,JAMES BOSCH,"INSPECTOR III, (POLICE DEPARTMENT)",110661.20,31162.04,111446.20,NaN,253269.44,253269.44,2011,NaN,San Francisco,NaN
38,39,JONES WONG,LIEUTENANT III (POLICE DEPARTMENT),132202.26,52648.92,67083.83,NaN,251935.01,251935.01,2011,NaN,San Francisco,NaN
44,45,SHARON MCCOLE WICHER,NURSING SUPERVISOR PSYCHIATRIC,196081.86,0.00,54040.18,NaN,250122.04,250122.04,2011,NaN,San Francisco,NaN
61,62,ANNA BROWN,CAPTAIN III (POLICE DEPARTMENT),102571.24,7437.00,128543.64,NaN,238551.88,238551.88,2011,NaN,San Francisco,NaN
68,69,THOMAS SHAWYER,DEPUTY CHIEF III (POLICE DEPARTMENT),122974.00,0.00,113226.92,NaN,236200.92,236200.92,2011,NaN,San Francisco,NaN
71,72,RICHARD BUSALACCHI,"BATTALION CHIEF, (FIRE DEPARTMENT)",92782.61,5477.62,135684.25,NaN,233944.48,233944.48,2011,NaN,San Francisco,NaN
74,75,ANTONIO FLORES,"INSPECTOR III, (POLICE DEPARTMENT)",130457.88,51864.26,50380.44,NaN,232702.58,232702.58,2011,NaN,San Francisco,NaN
75,76,MARK GAMBLE,"INSPECTOR III, (POLICE DEPARTMENT)",85578.61,42878.01,104030.10,NaN,232486.72,232486.72,2011,NaN,San Francisco,NaN
76,77,KEVIN BURKE,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,16876.74,40258.39,NaN,232007.77,232007.77,2011,NaN,San Francisco,NaN
77,78,BERT REYES,"LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBL...",73754.05,18679.06,139279.69,NaN,231712.80,231712.80,2011,NaN,San Francisco,NaN
80,81,YIFANG QIAN,SENIOR PHYSICIAN SPECIALIST,172529.08,0.00,58776.96,NaN,231306.04,231306.04,2011,NaN,San Francisco,NaN
87,88,KEVIN BARRY,MANAGER VII,96814.36,0.00,133563.47,NaN,230377.83,230377.83,2011,NaN,San Francisco,NaN
89,90,MARY TSE,"INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLI...",138878.82,31843.34,59427.12,NaN,230149.28,230149.28,2011,NaN,San Francisco,NaN
91,92,DONNA MEIXNER,CAPTAIN III (POLICE DEPARTMENT),102722.40,7437.00,118456.21,NaN,228615.61,228615.61,2011,NaN,San Francisco,NaN
111,112,C PETRUZZELLA,POLICE OFFICER III,63811.18,57966.33,98578.97,NaN,220356.48,220356.48,2011,NaN,San Francisco,NaN
130,131,SOFIA MATHEWS,"LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBL...",158603.68,0.00,57667.12,NaN,216270.80,216270.80,2011,NaN,San Francisco,NaN
133,134,WILLIAM ROUALDES,LIEUTENANT III (POLICE DEPARTMENT),149044.93,4836.87,61531.43,NaN,215413.23,215413.23,2011,NaN,San Francisco,NaN
142,143,GERALD DARCY,SERGEANT III (POLICE DEPARTMENT),130481.53,2433.29,82029.92,NaN,214944.74,214944.74,2011,NaN,San Francisco,NaN
148,149,SIU-KWAN CHOW,SENIOR PHYSICIAN SPECIALIST,167070.08,0.00,46665.54,NaN,213735.62,213735.62,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123798,123799,Kevin P Mcnaughton,Lieutenant 3,12124.00,1169.78,106510.14,3690.65,119803.92,123494.57,2014,NaN,San Francisco,NaN
123862,123863,Cecile Porter,Police Officer 3,59449.09,1472.97,42248.80,19981.42,103170.86,123152.28,2014,NaN,San Francisco,NaN
123881,123882,Richard F Slattery,"Lieutenant, Fire Suppression",16599.61,0.00,101179.30,5256.65,117778.91,123035.56,2014,NaN,San Francisco,NaN
124859,124860,Ralph Kugler,Police Officer 3,13719.00,3879.48,96079.90,4573.81,113678.38,118252.19,2014,NaN,San Francisco,NaN
125844,125845,Steven A Caniglia,Police Officer 3,53161.24,903.17,42884.43,17291.38,96948.84,114240.22,2014,NaN,San Francisco,NaN
125948,125949,Robert L Ford,Police Officer 3,11432.51,2202.76,96340.48,3811.51,109975.75,113787.26,2014,NaN,San Francisco,NaN
126993,126994,Leslie C Forrestal,Sergeant 3,49089.81,3072.25,42498.57,15043.18,94660.63,109703.81,2014,NaN,San Francisco,NaN
127449,127450,Kenneth V Sanchez,Police Officer 3,0.00,0.00,108294.36,0.00,108294.36,108294.36,2014,NaN,San Francisco,NaN
128342,128343,Steven G Zukor,Police Officer 3,4115.72,771.69,99166.92,1372.16,104054.33,105426.49,2014,NaN,San Francisco,NaN
128875,128876,David W Johnson,Lieutenant 3,3031.01,0.00,99614.18,922.67,102645.19,103567.86,2014,NaN,San Francisco,NaN
129283,129284,David Smith,Lieutenant 3,20404.68,0.00,75635.26,6055.97,96039.94,102095.91,2014,NaN,San Francisco,NaN
129739,129740,Jean M Gorecki,Park Patrol Officer,0.00,0.00,82590.99,17930.50,82590.99,100521.49,2014,NaN,San Francisco,NaN
129887,129888,Timothy G Howe,EMT/Paramedic/Firefighter,34472.04,0.00,53475.16,12056.93,87947.20,100004.13,2014,NaN,San Francisco,NaN
131476,131477,Martin J Scanlan,Police Officer 3,22865.00,0.00,63458.43,7437.17,86323.43,93760.60,2014,NaN,San Francisco,NaN
131556,131557,Frederick Binkley,EMT/Paramedic/Firefighter,14743.02,0.00,73405.19,5289.81,88148.21,93438.02,2014,NaN,San Francisco,NaN
131914,131915,Patrick P Cadigan,Inspector 2,20848.00,0.00,64674.39,6648.91,85522.39,92171.30,2014,NaN,San Francisco,NaN
132502,132503,Celia Lee,Attorney (Civil/Criminal),4692.80,0.00,83809.58,1434.88,88502.38,89937.26,2014,NaN,San Francisco,NaN
132724,132725,John T Glynn,Police Officer 3,0.00,0.00,89152.01,0.00,89152.01,89152.01,2014,NaN,San Francisco,NaN
132946,132947,Michael D Burkley,Sergeant 3,3980.25,0.00,83283.83,1262.02,87264.08,88526.10,2014,NaN,San Francisco,NaN
132964,132965,Darcy L Keller,Inspector 3,15921.00,4170.81,63111.62,5257.48,83203.43,88460.91,2014,NaN,San Francisco,NaN
134445,134446,Thomas M King,Police Officer 3,23820.00,870.78,51004.30,7828.73,75695.08,83523.81,2014,NaN,San Francisco,NaN
135924,135925,Terrie L Williams,"Manager VIII, MTA",0.00,0.00,64400.00,12232.72,64400.00,76632.72,2014,NaN,San Francisco,NaN
135941,135942,Kevin R Kelly,Firefighter,19138.37,0.00,50228.01,7163.60,69366.38,76529.98,2014,NaN,San Francisco,NaN
136336,136337,Michael D Hutchings,Sergeant 3,10083.30,0.00,61672.74,2119.43,71756.04,73875.47,2014,NaN,San Francisco,NaN
136366,136367,Paul E Guinasso,Police Officer 3,1143.25,0.00,72132.08,371.85,73275.33,73647.18,2014,NaN,San Francisco,NaN
136661,136662,Thomas Bradley,Senior Deputy Sheriff,11856.00,0.00,55424.13,3979.71,67280.13,71259.84,2014,NaN,San Francisco,NaN
136927,136928,Benito L Manning,Police Officer 3,9146.00,0.00,56433.45,3049.21,65579.45,68628.66,2014,NaN,San Francisco,NaN
137605,137606,Danny L Lopez,Sergeant 3,3714.91,0.00,56829.08,1177.88,60543.99,61721.87,2014,NaN,San Francisco,NaN
137724,137725,Margarita L Herrera,Registered Nurse,0.00,0.00,45906.80,14396.19,45906.80,60302.99,2014,NaN,San Francisco,NaN
138161,138162,Joseph J Robles,Police Officer 2,5179.46,2785.72,45996.81,1715.96,53961.99,55677.95,2014,NaN,San Francisco,NaN

Group BY

In [24]:
import pandas as pd
# Create dataframe
data1 = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB','Apple'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah','John'],
       'Sales':[200,120,340,124,243,350,400]}

In [26]:
df = pd.DataFrame(data1)
df.head(7)

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350
6   Apple     John    400

In [27]:
by_comp = df.groupby("Company")

In [28]:
print(by_comp.mean())
print("\n")
by_comp.std()
print("\n")
print(by_comp.min())
print("\n")
print(by_comp.max())
print("\n")
print(by_comp.count())

         Sales
Company
Apple    400.0
FB       296.5
GOOG     160.0
MSFT     232.0




          Person  Sales
Company
Apple       John    400
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124


          Person  Sales
Company
Apple       John    400
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340


         Person  Sales
Company
Apple         1      1
FB            2      2
GOOG          2      2
MSFT          2      2

In [30]:
by_comp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
Apple     1.0  400.0         NaN  400.0  400.00  400.0  400.00  400.0
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [31]:
file="C:\\Users\\smukhopadhyay\\Desktop\\Time Series\\Data\\Resp2.csv"
df1=pd.read_csv(file)
df1.head()

   experience  respiration
0           0         3.94
1           0         4.26
2           0         4.16
3           0         3.76
4           0         4.07

In [37]:
file="C:\\Users\\smukhopadhyay\\Desktop\\Time Series\\Data\\winequality-red.csv"
df1=pd.read_csv(file)
df1=pd.read_csv(file, sep = ";")
df1.head()

                                                         fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
7.4  0.70 0.00 1.9 0.076 11.0 34.0 0.9978 3.51 0.56 9.4                                                  5
7.8  0.88 0.00 2.6 0.098 25.0 67.0 0.9968 3.20 0.68 9.8                                                  5
     0.76 0.04 2.3 0.092 15.0 54.0 0.9970 3.26 0.65 9.8                                                  5
11.2 0.28 0.56 1.9 0.075 17.0 60.0 0.9980 3.16 0.58 9.8                                                  6
7.4  0.70 0.00 1.9 0.076 11.0 34.0 0.9978 3.51 0.56 9.4                                                  5

In [33]:
df1=pd.read_csv("C:\\Users\\smukhopadhyay\\Desktop\\Time Series\\Data\\bostonTxt.txt", sep = "\t")
df1.head()

     MV  INDUS   NOX     RM  TAX    PT  LSTAT
0  24.0   2.31  53.8  6.575  296  15.3   4.98
1  21.6   7.07  46.9  6.421  242  17.8   9.14
2  34.7   7.07  46.9  7.185  242  17.8   4.03
3  33.4   2.18  45.8  6.998  222  18.7   2.94
4  36.2   2.18  45.8  7.147  222  18.7   5.33

In [42]:
##Read in Excel File

import pandas as pd

file="C:\\Users\\smukhopadhyay\\Desktop\\Time Series\\Data\\boston1.xls"

# Load spreadsheet
xl = pd.ExcelFile(file)

# Print the sheet names
print(xl.sheet_names)
print("\n")

['Sheet1', 'Sheet2']

In [43]:
# Load a sheet into a DataFrame by name: df1
df1 = xl.parse('Sheet1')

print(df1.head())
print("\n")

df2 = xl.parse('Sheet2')

print(df2.head())

     MV  INDUS   NOX     RM  TAX    PT  LSTAT  Unnamed: 7  Unnamed: 8  \
0  26.0   2.31  53.8  6.575  296  15.3   4.98         NaN         NaN
1  21.6   7.07  46.9  6.421  242  17.8   9.14         NaN         NaN
2  34.7   7.07  46.9  7.185  242  17.8   4.03         NaN         NaN
3  33.4   2.18  45.8  6.998  222  18.7   2.94         NaN         NaN
4  36.2   2.18  45.8  7.147  222  18.7   5.33         NaN         NaN

                         Unnamed: 9
0    Subset of Boston housing tract
1    data of Harrison and Rubinfeld
2    (1978).  Each case is one U.S.
3  Census tract in the Boston area.
4                               NaN


     MV  INDUS   NOX     RM  TAX    PT  LSTAT
0  24.0   2.31  53.8  6.575  296  15.3   4.98
1  21.6   7.07  46.9  6.421  242  17.8   9.14
2  34.7   7.07  46.9  7.185  242  17.8   4.03
3  33.4   2.18  45.8  6.998  222  18.7   2.94
4  36.2   2.18  45.8  7.147  222  18.7   5.33